<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery.mousewheel.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery-ui.custom.min.js') }}"></script>
    <script src="{{ url_for('static',filename='RScompiler.3.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='RSrun.3.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='compiler.3.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='glow.3.2.min.js') }}"></script>
    <title>Project  GRAFKOM</title>
    <h2>Game Bola</h2>
    <p>Balqis Lintang Nadhira</p>
    <p>220411100129</p>

    <style>
        .vpython_container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
        }
    </style>
</head>
<body>
    <h2 style="color: white; text-align: center;"></h2>
    <div class="vpython_container">
        <div id="glowscript" class="glowscript"></div>
    </div>
    <script src="{{ url_for('static',filename='app.js') }}"></script>
</body>
</html>